*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    background:no-repeat url("index_background.jpg") center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.nav-container{
    position: fixed;   /* 关键属性：固定定位 */
    top: 0;            /* 贴紧顶部 */
    left: 0;           /* 贴紧左侧 */
    width: 100%;       /* 撑满宽度 */
    height: 50px;
    margin: 0;
    display: block;
    align-content: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    box-shadow: 0 0 20px rgb(195, 87, 10);
    box-sizing: border-box;
}
#img_1{
    height: 45px;
}

.nav-container ul{
    width: 100%;
    height: 100%;
    list-style-type:none;
    display: flex;
    align-items: center;
    position:relative;
    margin:0;
    padding:0;
    text-align: center;
}
.nav-container ul .box{
    position: absolute;
    left: 0;
    width: calc((100%/7)*1);
    height: 50px;
    border-radius: 30px;
    transition: .5s;
} 
.nav-container ul li{
    width: calc(100%/7);
    text-align: center;
    position:absolute;
    z-index: 99;
}
.nav-container ul .nav-label a{
    display:block;
    width:100%;
    text-decoration: none;
    height:100%;
    line-height: 70px;
    text-align: center;
    color: rgb(103, 43, 9);
    font-size: 15px;
    transition: .5s;
}
.nav-container ul .nav-label:nth-child(2){
    margin-left: calc(100%/7*2);
}
.nav-container ul .nav-label:nth-child(3){
    margin-left: calc(100%/7*3);
}
.nav-container ul .nav-label:nth-child(4){
    margin-left: calc(100%/7*4);
}

/*鼠标*/
.nav-container ul .nav-label:hover>a{
    color: white;
}
.nav-container ul .nav-label:nth-child(2):hover~.box{
    left: calc(100%/7*2);
    background-color: #fcb69f;
}
.nav-container ul .nav-label:nth-child(3):hover~.box{
    left: calc(100%/7*3);
    background-color: #fcb69f;
}
.nav-container ul .nav-label:nth-child(4):hover~.box{
    left: calc(100%/7*4);
    background-color: #fcb69f;
}

main {
    background-color: rgba(255, 255, 255, 0.4);
    width: 95%;
    height: 80%;
    box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center; /* 使用 justify-content 来水平居中 */
    backdrop-filter: blur(50px);
    margin-top: 60px; /* 确保内容在导航栏下 */
}


/* 新增样式 */
.content-container {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 30px; /* 确保内容在导航栏下 */
}
.mainbox {
    width: 70%;
    margin-right: 20px;
}
.cards-container {
    width: 30%;
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
    margin-bottom: 15px;
    padding: 10px;
}
tr{
    height: 16px;
}






